
body{
font-family: Arial, Helvetica, sans-serif;
background-color: #f8f9fa;
}

.banner{
height: 75vh;

background:
linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
),
url("../img/banner.jpg");

background-size: cover;
background-position: center;

display: flex;
justify-content: center;
align-items: center;

text-align: center;

}

.produto-card{
transition: all 0.3s ease;
border: none;
border-radius: 15px;
overflow: hidden;
}

.produto-card:hover{
transform: translateY(-10px);
box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-img-top{
height: 250px;
object-fit: cover;
}

h2{
font-weight: bold;
}


.btn{
border-radius: 10px;
transition: 0.3s;
}

.btn:hover{
transform: scale(1.03);
}

.card-body h1{
font-weight: bold;
}

footer{
margin-top: 40px;
}

@media (max-width: 768px){


.banner{
    height: 60vh;
    padding: 20px;
}

.banner h1{
    font-size: 2rem;
}

.banner p{
    font-size: 1rem;
}

.card-img-top{
    height: 220px;
}

}
